# Copy to .env and fill in your real Mongo Atlas URI. This should point to the db.!
MONGODB_URI="mongodb://127.0.0.1:27017/"

# OpenFoodFacts Configuration
OFF_ENV="staging"
OFF_USER_AGENT="EthicalProductFinder/0.1 (you@example.com)"

# Test Configuration
TEST_TICKER="MSFT"

# Server Configuration
PORT=3001
NODE_ENV="development"
