/* ======================================= */
/* Tailwind base, components, utilities */
/* ======================================= */
@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --theme-color-primary: #66754c;
  --theme-color-secondary: #8e9b6d;
  --theme-color-tertiary: #d5c7aa;
  --theme-color-text-primary: #444232;
  --theme-color-background: #f6eedb;
}
/* ======================================= */
/* Global Styles */
/* ======================================= */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font-sans);
  color: var(--theme-color-text-primary);
  background-color: var(--theme-color-background);
}

a {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

/* Optional: main container spacing */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  gap: 6px;
}
