/* ======================================= */
/* Tailwind base, components, utilities */
/* ======================================= */
@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================================= */
/* Theme Variables */
/* ======================================= */
@theme {
  --theme-color-primary: #66754c;
  --theme-color-secondary: #8e9b6d;
  --theme-color-tertiary: #d5c7aa;
  --theme-color-text-primary: #444232;
  --theme-color-background: #f6eedb;
}

/* ======================================= */
/* Global Reset */
/* ======================================= */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--theme-color-background); /* soft beige */
  color: var(--theme-color-text-primary);
  font-family: var(--font-fredoka), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Universal box-sizing for layout consistency */
* {
  box-sizing: border-box;
}

/* ======================================= */
/* Main container spacing */
/* ======================================= */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  gap: 6px;
}
